html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 8.5rem;
  left: 0;
  width: 100%;
}

.img-flex {
  max-width: 100%;
  display: block;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.banner {
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}
